<footer class="bg-light section pb-0">
  <div class="container text-center pb-4">
    <a href="https://twitter.com/junmakes" class="btn-link"><i class="ti-twitter-alt social-icons"></i> @junmakes</a>
  
    <small class="content pl-4">{{ site.Params.Copyright | markdownify }}</small>

    <!--  -->
    <!-- <div class="border-top border-default text-center py-4 mt-4"> -->
      <!-- {{ with site.Params.social }}
      <ul class="list-inline social-icons">
        {{ range . }}
        <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li> @junmakes
        {{ end }}
      </ul>
      {{ end }}

      <small class="content">{{ site.Params.Copyright | markdownify }}</small> -->
    <!-- </div> -->
  </div>
</footer>

{{ "<!-- JS Plugins + Main Script -->" | safeHTML }}
{{ $allscript := slice }}
{{ range site.Params.plugins.js}}
{{ if findRE "^http" .link }}
<script src="{{ .link | relURL }}"></script>
{{ else }}
  {{ $allscript = $allscript | append (resources.Get .link) }}
{{ end }}
{{ end }}
{{ $allscript := $allscript | append (resources.Get "js/script.js" | minify) }}
{{ $allscript := $allscript | resources.Concat "/js/vendor.js" | minify | fingerprint "sha512" }}
<script src="{{ $allscript.RelPermalink }}" integrity="{{ $allscript.Data.Integrity }}"></script>
